<!DOCTYPE HTML>
<html>

<head>
  <title>Shoplist A Ecommerce Category Flat Bootstrap Responsive Website Template | Home :: w3layouts</title>
  <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="/js/jquery-1.11.0.min.js"></script>
  <!-- Custom Theme files -->
  <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <!-- Custom Theme files -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Shoplist Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script
    type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!--Google Fonts-->
  <link href='//fonts.googleapis.com/css?family=Hind:400,500,300,600,700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <!-- start-smoth-scrolling -->
  {{!--
  <script type="text/javascript" src="/js/move-top.js"></script>
  <script type="text/javascript" src="/js/easing.js"></script> --}}
  <script type="text/javascript">
    jQuery(document).ready(function ($) {
      $(".scroll").click(function (event) {
        event.preventDefault();
        $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
      });
    });
  </script>
  <!-- //end-smoth-scrolling -->
  <script src="/js/simpleCart.min.js"> </script>
  <script src="/js/bootstrap.min.js"></script>
</head>

<body>
  <!--header strat here-->
  <div class="header">
    <div class="container">
      <div class="header-main">
        <div class="top-nav">
          <div class="content white">
            <nav class="navbar navbar-default" role="navigation">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand logo">
                  <a href="/"><img src="images/logo1.png" alt=""></a>
                </div>
              </div>
              <!--/.navbar-header-->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men <b class="caret"></b></a>
                    <ul class="dropdown-menu multi-column columns-3">
                      <div class="row">
                        <div class="col-sm-4">
                          <ul class="multi-column-dropdown">
                            <li><a href="/men">Accessories</a></li>
                            <li><a href="/men">Bags</a></li>
                            <li><a href="/men">Cap &amp; Hats</a></li>
                            <li><a href="/men">Tops</a></li>
                            <li><a href="/men">Jackets &amp; Coats</a></li>
                            <li><a href="/men">wallets</a></li>
                            <li><a href="/men">Jeans</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-4">
                          <ul class="multi-column-dropdown">
                            <li><a href="/men">Shirts</a></li>
                            <li><a href="/men">Shoes,Boots</a></li>
                            <li><a href="/men">Shorts</a></li>
                            <li><a href="/men">Watches</a></li>
                            <li><a href="/men">Sunglasses</a></li>
                            <li><a href="/men">Bands</a></li>
                            <li><a href="/men">Swimwear</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-4">
                          <ul class="multi-column-dropdown">
                            <li><a href="/men">Jewellery</a></li>
                            <li><a href="/men">Jack &amp; Jones</a></li>
                            <li><a href="/men">Ray-Ban</a></li>
                            <li><a href="/men">Lipsticks</a></li>
                            <li><a href="/men">Longer wear</a></li>
                            <li><a href="/men">sarees</a></li>
                            <li><a href="/men">Nike</a></li>
                          </ul>
                        </div>
                      </div>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Women <b class="caret"></b></a>
                    <ul class="dropdown-menu multi-column columns-3">
                      <div class="row">
                        <div class="col-sm-4">
                          <ul class="multi-column-dropdown">
                            <li><a href="/women">Accessories</a></li>
                            <li><a href="/women">Bags</a></li>
                            <li><a href="/women">Cap &amp; Hats</a></li>
                            <li><a href="/women">Tops</a></li>
                            <li><a href="/women">Jackets &amp; Coats</a></li>
                            <li><a href="/women">wallets</a></li>
                            <li><a href="/women">Jeans</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-4">
                          <ul class="multi-column-dropdown">
                            <li><a href="/women">Shirts</a></li>
                            <li><a href="/women">Shoes,Boots</a></li>
                            <li><a href="/women">Shorts</a></li>
                            <li><a href="/women">Watches</a></li>
                            <li><a href="/women">Sunglasses</a></li>
                            <li><a href="/women">Bands</a></li>
                            <li><a href="/women">Swimwear</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-4">
                          <ul class="multi-column-dropdown">
                            <li><a href="/women">Jewellery</a></li>
                            <li><a href="/women">Jack &amp; Jones</a></li>
                            <li><a href="/women">Ray-Ban</a></li>
                            <li><a href="/women">Lipsticks</a></li>
                            <li><a href="/women">Longer wear</a></li>
                            <li><a href="/women">sarees</a></li>
                            <li><a href="/women">Nike</a></li>
                          </ul>
                        </div>
                      </div>
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kids<b class="caret"></b></a>
                    <ul class="dropdown-menu multi-column columns-3">
                      <div class="row">
                        <div class="col-sm-4">
                          <ul class="multi-column-dropdown">
                            <li><a href="/kid">Accessories</a></li>
                            <li><a href="/kid">Bags</a></li>
                            <li><a href="/kid">Cap &amp; Hats</a></li>
                            <li><a href="/kid">Tops</a></li>
                            <li><a href="/kid">Jackets &amp; Coats</a></li>
                            <li><a href="/kid">wallets</a></li>
                            <li><a href="/kid">Jeans</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-4">
                          <ul class="multi-column-dropdown">
                            <li><a href="/kid">Shirts</a></li>
                            <li><a href="/kid">Shoes,Boots</a></li>
                            <li><a href="/kid">Shorts</a></li>
                            <li><a href="/kid">Watches</a></li>
                            <li><a href="/kid">Sunglasses</a></li>
                            <li><a href="/kid">Bands</a></li>
                            <li><a href="/kid">Swimwear</a></li>
                          </ul>
                        </div>
                        <div class="col-sm-4">
                          <ul class="multi-column-dropdown">
                            <li><a href="/kid">Jewellery</a></li>
                            <li><a href="/kid">Jack &amp; Jones</a></li>
                            <li><a href="/kid">Ray-Ban</a></li>
                            <li><a href="/kid">Lipsticks</a></li>
                            <li><a href="/kid">Longer wear</a></li>
                            <li><a href="/kid">sarees</a></li>
                            <li><a href="/kid">Nike</a></li>
                          </ul>
                        </div>
                      </div>
                    </ul>
                  </li>
                  <li><a href="/contact">Contact</a></li>
                </ul>
              </div>
              <!--/.navbar-collapse-->
            </nav>
            <!--/.navbar-->
          </div>
        </div>
        <div class="header-right">
          <div class="search">
            <div class="search-text">
              <input class="serch" type="text" placeholder="Search" onfocus="this.value = '';"
                onblur="if (this.value == '') {this.value = 'Search';}" />
            </div>
            <div class="cart box_1">
              <a href="/checkout">
                <h3>
                  <img src="images/cart.png" alt="" />
                  <div class="total">
                    <span class="simpleCart_total"></span>
                  </div>
                </h3>
              </a>
              <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
            </div>
            <div class="head-signin">
              <h5><a href="/login"><i class="hd-dign"></i>Sign in</a></h5>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>
  <!--header end here-->
  {{{body}}}
  <!--footer strat here-->
  <div class="footer">
    <div class="container">
      <div class="footer-main">
        <div class="col-md-3 footer-grid-icon">
          <ul>
            <li><a href="#"><span class="u-tub"> </span></a></li>
            <li><a href="#"><span class="instro"> </span></a></li>
            <li><a href="#"><span class="twitter"> </span></a></li>
            <li><a href="#"><span class="fb"> </span></a></li>
            <li><a href="#"><span class="print"> </span></a></li>
          </ul>
        </div>
        <div class="clearfix"> </div>
      </div>
      <div class="copy-rights">
        <p>THANK YOU FOR VISITING OUR SHOP</p>
      </div>
    </div>
  </div>
  </div>
  <!--footer end here-->
</body>

</html>